.overskrift {
    display: flex; /* Enables flexbox layout */
    align-items: center; /*  flex items centreret verticalt */
    justify-content: flex-start; /* Aligns items to the start of the flex container, keeping the image on the left */
    text-align: center; /* Centers the text for all child elements, might need adjustment for the h1 */
    margin-bottom: 10px;
    margin-top: 10px;
    border:2px dotted yellow;

    padding: 20px;
    background: linear-gradient(to right, green, limegreen, yellow);
    color: yellow;
}

.overskrift h1 {
    flex-grow: 1; /* Allows the h1 to take up the remaining space */
    margin: 0 auto; /* Centers the h1 within the available space */


}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 20px; /* Adds some space between the image and the h1 */
}
body {
    background: linear-gradient(to right, green, yellow);
}
.buttonLinks {
appearance: none;
backface-visibility: hidden;
background-color: #27ae60;
border-radius: 8px;
border-style: none;
box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 600;
letter-spacing: normal;
line-height: 1;
outline: none;
overflow: hidden;
padding: 13px 20px;
    margin-left: 20px;
position: relative;
text-align: center;
text-decoration: none;
transform: translate3d(0, 0, 0);
transition: all .3s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
                                                   }

.buttonLinks:hover {
    background-color: yellow;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.buttonLinks:active {
    transform: translateY(2px);
    transition-duration: .35s;
}
.buttonSubpage {
    appearance: none;
    margin-bottom: 10px;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 5px 40px; /* Adjust padding for a broader button */
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}


.buttonSubpage:hover {
    background-color: yellow;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.buttonSubpage:active {
    transform: translateY(2px);
    transition-duration: .35s;
}
.itemList{
    border: 5px inset darkolivegreen;
    padding-bottom: 10px;
    padding-top: 10px;


}
.item{
    border-bottom: 2px solid darkolivegreen;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 500px;

}
.p{

    padding-left: 20px;
    padding-right: 500px;

}
.credit{
    padding-left: 10px;
}
.imagesContainer{
    align-self: center;
    margin-left: 20px;
}